<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add  key="MySqlConnectionStr" value="Database=db_cma;Data Source=192.168.1.234;User Id=sa;Password=qwe123!@#;pooling=false;CharSet=utf8;port=3306"/>
    <add key="CenterInterval" value="2000"/>

    <add key="RedisQueue" value="MessageQueue"/>

    <add key="RedisHost" value="192.168.1.234"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisPassword" value="bfby"/>
  
  </appSettings>
</configuration> 